extends layout

block content
  h1= title
  p Welcome to #{title}
  div.my-s #{title}
    ul
      li.first-li #{title}
      li #{title}
      li
      li
      li
  div.my-v titi0909
  div
    -var arryList = ["titi","我是123123123",3,4];
    -for (var i in arryList) 
      p #{arryList[i]}
    div
      ul
        -var name = ['测试','模仿'];
        -for (var k in name)
          li #{name[k]};
    button.btn 点击测试页面
  script(src="/javascripts/test.js")